In [1]:
print("hello world")

hello world

In [2]:
age =24
n = "vinayak"
print(age)
print(n)
print("name")
print(n,type(n))

24
vinayak
name
vinayak <class 'str'>

In [3]:
age=30
n="harry"
print(n)
print(age)
str = "monkey eats va"
print(str)

harry
30
monkey eats va

Data type in python::::---->>>>
Numeric
Sequence Type
Boolean
Set
Dictionary
Binary Types

In [4]:
### finding type using type()
rate = 4.7
print(rate,type(rate))

4.7 <class 'float'>

Arthmatic operation
+	Addition	x + y
-	Subtraction	x - y
*	Multiplication	x * y
/	Division	x / y
%	Modulus	x % y
**	Exponentiation	x ** y
//	Floor division	x // y

In [5]:
a =2
b =67
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

69
-65
134
0.029850746268656716
2

In [7]:
a = 45
b = 54
print('a>b',a>b)
print('b<a',a<b)

a>b False
b<a True

not operator--> it will always give ooposite of what u have give for ex if u give 0 it will give 1
or opertor--> it will give true if in either of a cases true exist for example
if u have given 0 and 1 it will give 1
AND operator ---> it will give true only if both are true

![download.png]()

In [12]:
x = True
y = False
print("x and y  is ", x and y)
print("x and y  is ", x or y)
print("x and y  is ", not y)

x and y  is  False
x and y  is  True
x and y  is  True

In [14]:
### input and output
name = input();
### check data type
print(type(name))
## output
print(name)

vinayak
<class 'str'>
vinayak

 input() will always give u string!!!
to avoid this  we can u type casting just add datatype and u are good to go
int(input())

In [15]:
a = int(input())
b = int(input())
c = a*b
print(c)

3
5
15

#### we re using if here after if( cdtn) : use this

In [19]:
### if
age = int(input())
if(age==13):
    print(" welcome in you are in your teens")

else:
    print("you are older or younger")

45
you are older or younger

the previous example is somewhat in complete we are

In [20]:
age = int(input())
if(age==13):
  print("welcome to teens")
elif(age>13):
  print(" you are older")
else:
  print("you are younger champ")

45
 you are older

### range and list
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.
##### list
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [25]:
#### lets learn more about lists
## lets make an list now
fruits = ["banana ", "apple", " xtu ", " papya"]
print(fruits[0])
print(fruits[1])
### len function is used to calculate length
print(len(fruits))
###

banana
apple
4

In [23]:
a = range(10)
print(a)
# now convert it into a list
a = list(a)
print(a)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
### for loop
for i in range(10):
  print(2*i)

0
2
4
6
8
10
12
14
16
18

In [29]:
### runing for loop in list
### u can use any variable in plaace of t
a = ['xbf','huu','bhjj']
for t in a:
  print(t*4)

xbfxbfxbfxbf
huuhuuhuuhuu
bhjjbhjjbhjjbhjj

In [30]:
### lets learn while
n =5
while(n>=0):
  print(n)
  n-=1

5
4
3
2
1
0

In [32]:
### break and countinue
n = 6
for i in range(10):
  if(i==6):
    break;
  print(i)

0
1
2
3
4
5

In [33]:
# it skips the digit
n = 6
for i in range(10):
  if(i==6):
    continue;
  print(i)

0
1
2
3
4
5
7
8
9

In [3]:
# slicing
s = "vinayak"
print(s[1:3])
## cont
t = "sharma"
print(s+t)
## runing for loop
for t_char in s:
  print(t_char)

in
vinayaksharma
v
i
n
a
y
a
k

In [9]:
### is alpha is used to check alphabate
s = "billo"
print(s.isalpha())
t = "billo123"
print(t.isalpha())
print(s.isdigit())
print(s.islower())
# these two were used to make upper or lower
print(s.upper())
print(s.lower())

True
False
False
True
BILLO
billo

In [10]:
### yah pa type define nhi karta hai
name = " vinayak"
name = 1234
print(name)

1234

In [11]:
my = ['vinayak ',1234]
print(my)

['vinayak ', 1234]

In [15]:
# creating list
a = [x for x in range(10)]
print(a)
a = [x for x in range(10) if x%2==0]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [26]:
# using append the elemnt apppears in last
b = [x for x in range(10)]
b.append(4)
print(b)
# insert position , value
b.insert(1,56);
print(b)
# sort
b.sort()
print(b)

#pop
b.pop(1)
print(b)
# reverse
b.reverse()
print(b)
#findind index
print(b.index(3))
#clear
b.clear()
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]
[0, 56, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]
[0, 1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 56]
[0, 2, 3, 4, 4, 5, 6, 7, 8, 9, 56]
[56, 9, 8, 7, 6, 5, 4, 4, 3, 2, 0]
8
[]

In [32]:
### more list function
b = [1,2,3,4,5]
# calculate the length
print(len(b))
## calculate the max
print(max(b))
# calculate min
print(min(b))
#sum
print(sum(b))

5
5
1
15

tupes in pythons ------>>>> Tuples are used to store multiple items in a single variable. Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage. A tuple is a collection which is ordered and unchangeable.

In [34]:
### lets see this
a = [1,2 ,3 ,3]
a[0] = " anuj"
print(a)
### this is list thats why it got changed
a = (1,2,3,4)
a[0] = " anuj"

# it will give eroor
# tuple opperations are same like list but u cant change the assigned thing  len max min

[' anuj', 2, 3, 3]

TypeError: ignored

Dictionary --->>> What is a dictionary on Python?
In Python, dictionaries are mutable data structures that allow you to store key-value pairs. Dictionary can be created using the dict() constructor or curly braces' {}'. Once you have created a dictionary, you can add, remove, or update elements using the methods dict. update(), dict

In [38]:
# it didnt store duplicate value
a = { 1,2 ,3,4,1,2,}
print(a)

{1, 2, 3, 4}

NameError: ignored

In [46]:
# lets create one
mrks = {'arjun':56,'billo':67,45:67}
print(mrks['billo'])
print(mrks[45])
for i in mrks:
  print(i,mrks[i])
mrks['arjun'] = 100
print(mrks)

67
67
arjun 56
billo 67
45 67
{'arjun': 100, 'billo': 67, 45: 67}

In [47]:
# functions in python
# modeule
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [53]:
### function for avg
a = int(input())
b = int(input())
print(avg(a,b))
def avg(a,b):
  return (a+b)/2

6
8
7.0

In [57]:
#### one more example
def gth(name, dish ):
  print("good morning ",name)
  print("time to eat ",dish )
gth("vinayak","momo")

good morning  vinayak
time to eat  momo